body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: #252525;
  color: antiquewhite;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h2 {
  font-size: 1.4rem;
  padding: 5px;
  margin: 0;
  margin-right: 400px;
  text-align: center;
}

.header h5 {
  margin: 10px 0;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 25px;
  width: 400px;
  min-height: 200px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-size: 1.2rem;
  color: antiquewhite;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px;
}

.yellow {
  color: #ffe227;
}